:root {
  --white: #ffffff;
  --primary: hsl(215, 51%, 70%);
  --accent: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);


  --pale: hsl(225, 100%, 94%);
  --bright: hsl(245, 75%, 52%);
  --veryPale: hsl(225, 100%, 98%);
  --desaturated: hsl(224, 23%, 55%);
  --dark: hsl(223, 47%, 23%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--pale);
  display: grid;
  place-items: center;
  height: 100vh;
}
