:root {
  --white: #ffffff;
  --pale: hsl(225, 100%, 94%);
  --bright: hsl(245, 75%, 52%);
  --veryPale: hsl(225, 100%, 98%);
  --desaturated: hsl(224, 23%, 55%);
  --dark: hsl(223, 47%, 23%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: var(--pale);
}

@media (max-width: 768px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

h1 {
  font-size: clamp(1.45rem, 5vw, 1.75rem);
}

p {
  color: var(--desaturated);
  font-size: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-dark {
  color: var(--dark);
}

.font-bold {
  font-weight: 700;
}

.font-bolder {
  font-weight: 900;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: clamp(21.5rem, 80vw, 27.5rem);
  height: fit-content;
  background: var(--white);
  border-radius: 1rem;
  box-shadow: 0 2.5rem 2rem -1rem rgb(128 128 128 / 17%);
}

.text-area {
  text-align: center;
  padding: 2.5rem clamp(1.35rem, 5.5vw, 2.8rem);
  gap: 1.6rem;
}

.description {
  max-width: clamp(16.45rem, 40vw, 19rem);
}

.pricing-area {
  background: var(--veryPale);
  width: 100%;
  border-radius: 0.75rem;
  padding: clamp(1rem, 4vw, 1.3rem);
  gap: 1.2rem;
}

.change-button {
  text-decoration: underline;
  margin-left: auto;
  color: var(--bright);
  font-size: 0.9rem;
}

.change-button:hover {
  color: hsl(245 75% 52% / 75%);
  text-decoration: none;
}

.payment-button {
  background: var(--bright);
  color: var(--white);
  border: none;
  width: 100%;
  padding: 0.9rem;
  border-radius: 0.75rem;
  box-shadow: 0 1rem 2.6rem -0.8rem hsl(245 75% 52% / 60%);
  font-size: 0.9rem;
}

.payment-button:hover {
  background: hsl(245 75% 52% / 75%);
}

.cancel-button {
  font-size: 0.9rem;
}

.cancel-button:hover {
  color: var(--dark);
}

@media (max-width: 425px) {
  .music-icon {
    width: 3.25em;
  }

  .payment-button {
    font-size: 1rem;
  }

  .cancel-button {
    font-size: 1rem;
  }
}